.editProduct {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .data {
        flex-grow: 1;
        padding-right: 10px;
    }

    .text {
        &.up {
            color: red;
        }
        &.down {
            color: green;
        }

        .name span {
            white-space: nowrap;
        }
    }

    .edit-container {
        margin-top: -4px;
    }
}